{% extends "base.html" %}

{% block content %}
  <div class="container text-center">
    <h1>Django App Experiment Home Page</h1>

    <button onclick="location.href='{% url 'first_script' %}'" class="btn btn-primary">
      Execute first script
    </button> <hr>
    {% if first_data %}
    <div class="container">
      {{first_data}}
    </div>
    {% endif %}

    <button onclick="location.href='{% url 'second_script' %}'" class="btn btn-primary">
      Execute second script
    </button> <hr>
    {% if second_data %}
    <div class="container">
      {{second_data }}
    </div>
    {% endif %}

  </div>
{% endblock %}