<!DOCTYPE html>

<html>
    <head>
        <title>
            Python Django Tutorial-Button Script
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>

    <body>
        <button onclick="location.href='{% url 'first_script' %}'" class="btn btn-primary">Execute first script</button> <hr>
        {% if first_data %}
        {{first_data}}
        {% endif %}

        <button onclick="location.href='{% url 'second_script' %}'">Execute second script</button> <hr>
        {% if second_data %}
        {{second_data }}
        {% endif %}
    </body>
</html>